<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Django Blog - {{title}}</title>
    {% else %}
        <title>Django Blog </title>
    {% endif %}

</head>
<body>
    <!-- <h1 style="background-color:powderblue;">Blog Home!!</h1> -->
    {% for post in posts %}
    <h1 style ="background-color:powderblue;">{{ post.title}}</h1>
    <P> By {{ post.author }} on {{post.date_posted}} </P>
    <P> By {{ post.content}} </P>
    {% endfor %}            <!-- endfor no space-->>
</body>
</html>